#index-page {
  background-color: black;
  color: white;
  h1 {
    text-align: center;
  }
  div {
    &#form{
      display: flex;
      justify-content: center;
      vertical-align: middle;
    }
    &#login {
      margin-left: 35%;
    }
    &#btns {
      margin-left: 40%;
    }
  }
  .btn-primary{
    margin-top: 10px;
    background-color: darkred;
    border-color: #ab0000;

  }
}

.container:not(in #index-page){
  display: flex;
}

#create-new-user, #home-page-user{
  background-color: black;
  color: white;
  h1 {
    text-align: center;
  }
  h2{
    color: darkred;
    text-align: center;
  }
  .btn-primary{
    background-color: darkred;
    border-color: #ab0000;
    margin:auto;
    display: flex;
  }
  div{
    &#form, &#menu{
      display: flex;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
    }
  }
}

tbody{
  max-width: 100%;
  overflow: auto;
  max-height:500px;
}


#create-new-user-adm{
  #create-new-user-adm{
    .row{
      margin: auto;
    }
  }


}