#index-page {
  background-color: black;
  color: white;
  h1 {
    text-align: center;
  }
  div {
    &#form {
      display: flex;
      justify-content: center;
      vertical-align: middle;
    }
    &#login {
      margin-left: 35%;
    }
    &#btns {
      margin-left: 40%;
    }
  }
  .btn-primary {
    margin-top: 10px;
    background-color: darkred;
    border-color: #ab0000;

  }
}

.container:not(in #index-page) {
  display: flex;
}

#classes-home, #lang-home, #races-home, #alignment-home {
  .btn {
    &.btn-primary {
      margin-left: 2.3%;
    }
  }
}

h1, h2 {
  text-align: center;
}

#showTables {
  background-color: black;
  div {
    padding-top: 2%;
    color: white;
    td {
      color: white;
    }
  }
  #emptyAlert {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: #580c17;
  }
}

#home-page-user {
  #sucessTable {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
  }

  #tableIframe {
    display: flex;
    width: 50%;
    height: 100%;
  }
}

#create-new-user, #home-page-user, #create-new-table, #show-tables-user, #create-new-character {
  background-color: black;
  color: white;

  div {
    &#show-tables {
      display: flex;
      justify-content: center;
    }
  }
  select {
    color: black;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 34px;
    width: 100%;
  }
  .alert {
    &.alert-success {
      color: #ffffff;
      background-color: #5d020e;
    }
  }

  h1 {
    text-align: center;
  }
  h2 {
    color: darkred;
    text-align: center;
  }
  .btn-primary {
    background-color: darkred;
    border-color: #ab0000;
    margin: auto;
    display: flex;
  }
  div {
    &#form, &#menu {
      display: flex;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
    }
  }
  #create-new-table {
    min-width: 60%;

    #name-label-post:before {
      font-family: FontAwesome;
      content: "\f071";
      color: red;
    }

    #name-post {
      color: red;
    }
  }
  #nPlayers {
    max-width: 20%;
  }
}

tbody {
  max-width: 100%;
  overflow: auto;
  max-height: 500px;
}

#menu-adm {
  border: 1px solid #ff0000;
  background: rgba(255, 183, 5, 0.18);
  border-radius: 7px;
  margin-left: 10px;
  position: relative;
  max-width: 20em;
  a {
    color: #000000;
  }
  .menuTitle {
    border: 1px solid rgba(247, 111, 111, 0.19);
    text-align: center;
    border-radius: 7px;
    background: rgb(239, 82, 0);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    transform: translate(0%, -45%);
  }
  p:nth-child(2) {
    margin-top: 20px;
  }
}

#create-new-user-adm {
  #create-new-user-adm {
    .row {
      margin: auto;
    }
  }
}